@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap");

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  padding-top: 70px;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1180px;
  padding: 0 16px;
  margin: auto;
}

header {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .logo .blue-dot {
  background-color: #3e50e5;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: #3e3e3e;
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  margin-right: 25px;
}
header nav ul li a:hover {
  color: #3e50e5;
}
header nav ul li:last-of-type a {
  margin-right: 0;
}

/* HERO SECTION */

section.hero img {
  width: 100%;
  height: 100%;
}

section.hero {
  position: relative;
  z-index: 0;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero-content h1 {
  font-weight: 400;
  max-width: 945px;
  font-size: 50px;
  line-height: 56px;
  letter-spacing: 1.25px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-content p {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 16px;
}

.hero-content button {
  padding: 10px;
  gap: 10px;

  width: 200px;
  max-width: 100%;
  height: 50px;

  background: #3e50e5;
  border-radius: 25px;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.hero-content button:hover {
  background-color: white;
  color: #3e50e5;
  border: 1px solid #3e50e5;
  cursor: pointer;
}

/* BEST SELLERS SECTION */
section.best-sellers {
  padding-top: 80px;
}

section.best-sellers h2 {
  text-align: center;
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 0.85px;
  line-height: 42px;
  margin: 0 0 14px 0;
}

section.best-sellers hr {
  border: none;
  border-top: 5px solid #67f11d;
  width: 66px;
}

section.best-sellers .container {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  margin: auto;
}

section.best-sellers .products-slider .product {
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  width: 33%;
  margin: 0 8px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.best-sellers .products-slider .product img {
  max-width: 100%;
}

section.best-sellers .products-slider .product.new::before {
  content: "New";
  background-color: red;
  color: #fff;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  line-height: 21px;
  text-align: center;
  padding: 4px 15px;
  border-radius: 15px;
}

section.best-sellers .products-slider .product .product-info .categories {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.38px;
  margin: 0 0 8px 0;
  color: #3e50e5;
}
section.best-sellers .products-slider .product .product-info .title {
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 6px 0;
  letter-spacing: 0.5px;
}
section.best-sellers .products-slider .product .product-info .price {
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.8px;
  margin: 0 0 16px 0;
}

section.best-sellers .products-slider .product .product-info button {
  border: 1px solid #000;
  border-radius: 220px;
  height: 50px;
  width: 219.5px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-transform: uppercase;
}

section.best-sellers .products-slider .product:hover .product-info button {
  background-color: #3e50e5;
  color: white;
  border: 1px solid #3e50e5;
  cursor: pointer;
}

/* NEWSLETTER SECTION */
section.newsletter {
  max-width: 955px;
  background-color: rgb(220, 219, 219);
  text-align: center;
  padding: 72px 0;
  margin: 80px auto;
}

section.newsletter h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 10px;
}

section.newsletter p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

section.newsletter form {
  display: flex;
  justify-content: center;
}

section.newsletter form input {
  height: 50px;
  width: 326px;
  max-width: 80%;
  border-radius: 60px 0 0 60px;
  border: 1px solid #3e3e3e;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-left: 22px;
}

section.newsletter form button {
  height: 50px;
  width: 125px;
  max-width: 20%;
  background: #3e50e5;
  border-radius: 0 60px 60px 0;
  border: 1px solid #3e3e3e;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

section.newsletter form button:hover {
  background-color: white;
  color: #3e50e5;
  border: 1px solid black;
  cursor: pointer;
}

/* FOOTER SECTION */

footer .bottom-nav {
  padding: 60px 0;
  background-color: #3e3e3e;
}

footer .copyright-text {
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: white;
  font-size: 16px;
  line-height: 22px;
}

footer .bottom-nav .container {
  max-width: 955px;
  display: flex;
  justify-content: space-around;
}

footer .bottom-nav .container ul {
  list-style: none;
}

footer .bottom-nav .container ul li a {
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}
footer .bottom-nav .container ul li a:hover {
  color: #3e50e5;
}

footer .bottom-nav .container ul li.li-title {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

/* ********************************************************************* */
/*************** RESPONSIVE WEBDESIGN - CSS MEDIA QUERY CODE ***************

/* Start design FOR SMALL DESKTOP  */
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1180px;
  }
}

/* Start design FOR TABLETS  */
@media screen and (max-width: 960px) {
  .container {
    max-width: 92%;
  }
}

/* Start design FOR MOBILE VIEW  */
@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
  }
}
